<div class="container-fluid">
  <h1>Quotes</h1>

  <div class="row">
    <form>
      <div class="form-groups">

        <label for="quote">Quote</label>
        <input type="text" class="form-control" id="quote" required>

      </div>
      <div class="form-groups">

        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" required>

      </div>
      <div class="form-groups">

        <label for="creation">Creation</label>
        <input type="date" id="creation" required>

      </div>
      <button class="button btn-primary" name="Add Quote"></button>
    </form>
  </div>
</div>