h1 {
  color: orange;
  font-size: 80px;
}
h2 {
  color: blue;
  font-size: 50px;
}
h3 {
  color: green;
  font-size: 30px;
}
body {
  background-image: url(../images/pp5.jpg);
  text-align: center;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
  color: darkred;
}
ul {
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 3%;
}
ol {
  padding-left: 37%;
  padding-right: 33%;
}
.btn {
  background-color: yellow;
}
